<!DOCTYPE html>
<html>
    <head>
        <title>Sentence Autocompletion App</title>
    </head>
    
    <body>
        <form name="form", action = "/generate", method="POST", style="text-align: center;">
            <br>
            Text: <input type="string" name="Text", placeholder="Enter Text" required/>
            <br><br>
            No Of Words: <input type="number" name="NoOfWords", placeholder="Enter the no of new words", value="generate" required/>
            <br><br>
            <button value="Submit">Generate Text</button>
        </form>
        <p style="text-align: center;">{{ output }}</p>
    </body>
    
</html>